@import 'tachyons.min.css';

body {
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings:    "kern";
  -ms-font-feature-settings:     "kern";
  font-feature-settings:         "kern";
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, roboto, sans-serif;
}

.blur         { animation: blur 2s ease-in-out both; }
.bg-gradient  { background-color: #b7b7b7; -webkit-animation: random 20s infinite; animation: random 20s infinite; transition: all 20s ease-in-out; }
.card         { animation: fadeIn 1s ease-in-out both; }
.lh-copy      { line-height: 1.7rem; }
.link-inline  { border-bottom: 1px solid rgba(0,0,0,.1); padding-bottom: .1rem; text-decoration: none; }
.shadow       { box-shadow: 0px 24px 24px rgba(0, 0, 0, .03); }
.up           { transition: all .15s ease-in-out !important; }
.up:hover     { transform: translateY(-2px); }



/* Animations */

#list .card:nth-child(2) {
	animation-delay: .25s;
}
#list .card:nth-child(3) {
	animation-delay: .5s;
}
#list .card:nth-child(4) {
	animation-delay: .75s;
}
#list .card:nth-child(5) {
	animation-delay: 1s;
}
#list .card:nth-child(6) {
	animation-delay: 1.25s;
}
#list .card:nth-child(7) {
	animation-delay: 1.5s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, 20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes blur {
    from  {
      filter: blur(3px);
      opacity: 0;
      -webkit-backface-visibility: hidden;
    }
    to {
      filter: blur(0px);
      transform: none;
      -webkit-backface-visibility: hidden;
    }
}

@keyframes random {
    0%  { background-color: #E7E7E7; }
    10% { background-color: #E7DDDD; }
    20% { background-color: #E7E2DD; }
    30% { background-color: #E7E6DD; }
    40% { background-color: #E1E7DD; }
    50% { background-color: #DDE7E1; }
    60% { background-color: #DDE3E7; }
    70% { background-color: #DDDDE7; }
    80% { background-color: #E4DDE7; }
    90% { background-color: #E7DDE2; }
    100% { background-color: #E7E7E7; }
}
